// Global structure.
// --------------------------------------------------------
*, :before, :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --root-bg: #1b1f23;
  --root-color: #fff;

  background-color: var(--root-bg);
  color: var(--root-color);
  font-size: 16px;
  font-family: "Mona Sans", "MonaSansFallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  height: 100dvh;
  overflow-x: hidden;
}

header {}

.top-bar {
  box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15), 0 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  inset: 0 0 auto;
  background-color: #0d1117;
  z-index: 10;

  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    height: 48px;
  }
}

main {}

.section {
  position: relative;
  height: 100vh;
  padding: 5rem;

  &--hero {
    background: url(https://github.githubassets.com/assets/hero-bg-ee8ae9ad2db9.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.1;
  }

  &--enterprise-ready {}

  &--industry-standard {
    &:after {
      content: '';
      position: absolute;
      top: 2rem;
      right: -2rem;
      width: 15rem;
      aspect-ratio: 474/414;
      background: url(https://github.com/images/modules/site/copilot/productivity-bg-head.png);
      background-size: cover;
    }
  }
  &--features-focus {}
  &--pricing {}
  &--features-table {}
  &--need-human {}
  &--related {}
  &--faq {}

  &:nth-child(even) {
    background-color: #161b22;
  }
}

footer {
  padding: 2rem;

  &__logo {}
  &__menu {
    list-style-type: none;
  }
}

// Typography.
// --------------------------------------------------------
@font-face {
  font-family: "Mona Sans";
  src: url("https://github.githubassets.com/assets/mona-sans-d1bf285e9b9b.woff2");
}

